.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 4px;
    
}
.sidebar_link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;
    flex-direction: column;
    cursor: pointer;
}
.sidebar_link:hover{
    background-color:rgb(235, 235, 235);
    height: 94px;
}
.sidebar_link img{
    height: 24px;
    margin-bottom: 4px;
    
}
.sidebar_link div{
    font-family: roboto,arial;
    font-size: 10px;
    

}